.imgcontainer {
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px #555555);
  border-radius: 3px 30px 3px 30px;
}

.rimage {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  transition-duration: 0.8s;
  transition-property: transform;
}

.imgoutercontainer {
  padding: 10px;
}

.rimage:hover {
  transform: rotate(10deg);
}

@media (max-width: 800px) {
  .imgcontainer {
    width: 140px;
    height: 140px;
  }

  .rimage {
    max-width: 240px;
    height: auto;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .imgcontainer {
    width: 200px;
    height: 200px;
  }

  .rimage {
    max-width: 280px;
    height: auto;
  }
}
