.imgcontainer {
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px #555555);
  border-radius: 3px 30px 3px 30px;
}
.imgoutercontainer {
  padding: 10px;
}

.rimage {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  transition-duration: 0.8s;
  transition-property: transform;
}

.rimage:hover {
  transform: rotate(10deg);
}
