.cardcontainer {
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
}

.contentcontainer {
  position: relative;
  text-align: center;
}

.contenttext {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 1em;
  color: white;
  border:white;
  border-style: solid;
  background-color:black;
  padding: 0.6em;
  opacity: 0.5;
  transition: 0.6s;
}

 .contentcontainer:hover .contenttext {
  top: 50%;
  left: 50%;
  right: 0%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-delay: 0.2s;
 }

.contentpicture {
  width: 260px;
  height: 260px;
  padding: 0.5em;
 }
 
 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(3px 3px 3px #555555);
 }
