.contentcontainer {
  box-shadow: 3px 3px 3px #555555;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  position: sticky;
}

.contentoverlay{
    background: rgba(255, 255, 255 , 0.5);
    transition: 0.6s;
}

.contentoverlay:hover{
    background: rgba(255, 255, 255 , 0.8);
    transition: 0.6s;
}

.text{
    
}